/* static/example.css */
* {
    box-sizing: border-box;
}

body {
    padding: 8px;
}
  
.meme {
    margin: auto;
    width: 100px;
    height: 200px;
    background-size: 100%; 
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
    top: 150px;
}

.meme img {
    height: inherit;
    width: inherit;
}

.content-box {
    width: 20%;
    margin: 10% auto;
    text-align: center;
}
  
p {
    text-decoration: none;
    position: relative;
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact;
    font-size: 1.5em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:2px 2px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    0px 2px 0 #000,
    2px 0px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 2px 5px #000;
}

 
.bottom {
    bottom: 0;
}
  
.top {
    top: 0;
}

.content-body {
    display: block;
    background: lightblue;
    border-radius: 4px;
    padding: 10px;
    margin: 5px;
}

.methods-body {
    border-radius: 4px;
    margin: 10px;
    display: flex;
}

.methods-body .method {
    color: white;
    font-weight: 600;
    background: blue;
    padding: 8px;
    width: 100px;
    border-radius: 4px;
    text-align: center;
}

.methods-body .end-point {
    font-weight: 600;
    padding: 8px;
    border-radius: 4px;
    text-align: center;
}

.methods-body .description {
    font-weight: 300;
    padding: 8px;
    border-radius: 4px;
    text-align: center;
}

.inputs {
    color: #fff;
    padding: 8px;
    background: #000;
}